
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../../assests/Group\ 4.png'); 
    background-size: cover;
}

h1 {
    position: absolute; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 36px;
    color: #333;
    z-index: 1; 
}


.container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -80px;
}

.image {
    margin: 0 20px; /* Adjust the space between images */
    max-height: 80%;
    max-width: 100%; 
    height: auto; /* Maintain aspect ratio */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}
