.recent-work-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assests/Group 4.png'); 
    background-size: cover;
  }
  
  .recent-work-container h1 {
    font-size: 36px;
    color: #333;
    margin-top: -15%;
  }
  
  .Rcontainer {
    position: relative;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image {

    margin: 0 20px; 
    width: 40vw; /* Set the desired width */
    height: 50vh;
    
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
  }
  
  .left-arrow {
    left: 0;
  }
  
  .right-arrow {
    right: 0;
  }
  

