[submodule "Downloads/Swachgyan.com-main/Downloads/Swachgyan.com-main/Swachgyan.com"]
	path = Downloads/Swachgyan.com-main/Downloads/Swachgyan.com-main/Swachgyan.com
	url = https://github.com/shreeyatamang/Swachgyan.com.git
