/* CSS for BinSort.js only */

.bin-sort-container {
  background-color: #7DB03E;
  width: 100vw; 
 
 
}

.bin-sort-container h1 {
  font-family: 'Fredoka One';
  font-size: 45px;
  color: #0d0007; 
  letter-spacing: 3px; 
  text-transform: uppercase; 
  animation: bounce 1s infinite alternate; 
 padding: 5px 10px; 
  background-color: #E9C46A; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 2;
  top: 12.5%; ;
  left: 20%
}

.bin-sort-container .trashBin {
  width: 210px;
  margin-top: 20px;
  cursor: pointer;
}

.bin-sort-container .itemContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.bin-sort-container .itemImage {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50vw;
  max-height: 10vh;
  cursor: pointer;
  margin-right: 10px;
}

.bin-sort-container .trashBinContainer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.bin-sort-container .hand {
  position: fixed;
  top: 20%;
  left: 53%;
  transform: translateX(-50%);
  width: 10%;
  z-index: 1;
}

.bin-sort-container #result {
  position: fixed;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Fredoka One';
  font-size: 30px;
}


.bin-sort-container .grass {
  position: fixed;
  bottom: -30px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  pointer-events: none;
}