h1 {
  font-family: 'Fredoka One';
    font-size: 45px;
    color: #0d0007; 
    letter-spacing: 3px; 
    text-transform: uppercase; 
    animation: bounce 1s infinite alternate; 
   padding: 5px 10px; 
    background-color: #E9C46A; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2
    
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
 
  body {
    background-color: #FFD700; 
  }
  
  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background-color: #7DB03E;
    
}

#container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}


.trashBin {
    width: 210px;
    margin-top: 20px;
    cursor: pointer;
}

.itemContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%; 
    height: auto;
    object-fit: cover
}

.itemImage {
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 150px;
    max-height: 150px;
    cursor: pointer;
    margin-right: 10px;
}
    
.trashBinContainer {
    position: fixed;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
}
.hand {
    position: absolute;
    top: 70px; 
    left: 55%;
    transform: translateX(-50%);
    width: 220px;
    z-index: 1
}

#result {
    position: fixed;
    bottom: 300px; 
    left: 50%;
    transform: translateX(-50%);
    color: white; 
    padding: 10px 20px;
    border-radius: 5px; 
    font-family: 'Fredoka One';
    font-size: 30px;
    
}
.grass {
    position: fixed;
    bottom: -30px; 
    left: 0;
    z-index: -1; 
    width: 100%;
    height: auto;
    pointer-events: none;
}