@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


.navbar {
    height: 100px;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 3;
    background-color: white;
    color: RGB(214, 72, 31);
    position: fixed;
    font-family: 'Fredoka One', sans-serif;
    
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    font-family: 'Fredoka One', ;
    font-size: 20px;
    top: 20px;

}
.desktopMenuListItem span {
    font-family: 'Fredoka One', sans-serif; /* Add Fredoka One font */
}

.desktopMenuListItem:hover {
    color: orange;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid orange;
}

.desktopMenuListItem {
    position: relative;
  }
  
  .menu-icon {
    position: absolute;
    top: -50px; /* Adjust this value according to your preference */
    left: 50%;
    transform: translateX(-50%);
}