/* body, html {
    margin: 0;
    padding: 0;
  
    background-size: cover;
  } */
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
;
  }
  
  .image-container img {
    width: 550px;
    height: auto;
    margin: 0 20px;
    cursor: pointer;
   
  }
  