#intro{
    height:100vh;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
    background-attachment: fixed;
    
   
}
.introcontent{
    height: 100vh;
    width: 100%;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    
}




.IntroPara {

}


.IntroText {
    font-size: 2.5rem;
    font-weight: 100;
    width: 48%;
}

.IntroSecond {
    font-size: 2.5rem;
    font-weight: 100;
    animation: moveIn 10s ease forwards; /* Apply animation */
    color: green;

}






